<%= provide( :title, "CS188_raffy4284") %>
<h1>CS188 Project</h1>
<p>
    CS150 is a class about artificial intelligence. It teaches various AI algorithms such as depth first search, breadth first search, A star search, and so forth. Other concepts taught were Markov's hidden models, Q-learning, Sampling and so forth. Throughout the class, the projects were based on the pacman, and the name of the game: use AI to lead pacman to victory while gaining the most points. There were four projects, and each is a variation of pacman that uses AI concepts to lead him to victory.
</p>
<ul><h3>Projects:</h3>
	<li><%= link_to "Project 1", "#" %></li>
	<li><%= link_to "Project 2", "#" %></li>
	<li><%= link_to "Project 3", "#" %></li>
	<li><%= link_to "Project 4", "#" %></li>

</ul>