<%= provide( :title, "CS61A_raffy4284") %>
<h1>CS61A Projects</h1>
<p>
    CS61A is an introductory class to computer science. The class uses python in order to teach various concepts such as abstraction, classes, and data structures. 
</p>
<ul><h3>Projects:</h3>
	<li><%= link_to "Hogs", "#" %></li>
	<li><%= link_to "Trends", "#" %></li>
	<li><%= link_to "Ants", "#" %></li>
	<li><%= link_to "Scheme", "#" %></li>
</ul>

