<%= provide( :title, "CS61C_raffy4284") %>
<h1>CS61C Projects</h1>
<p>
    CS61C is machine structures and computer architecture. The class delves deep into lower abstraction layers. It discusses how caches work, assembly language, and digital circuits. 
</p>
<ul><h3>Projects:</h3>
	<li><%= link_to "C/MIPS", "#" %></li>
	<li><%= link_to "Map/Reduce", "#" %></li>
	<li><%= link_to "Performance Optimization", "#" %></li>
	<li><%= link_to "Processor Design", "#" %></li>
</ul>

