<%= provide( :title, "projects_raffy4284") %>
<h1>Projects</h1>
<p>Various school related projects and side projects</p>
<ul>
	<li><%= link_to "CS61A", cs61a_path %></li>
	<li><%= link_to "CS61C", cs61c_path %></li>
	<li><%= link_to "EE140", ee140_path %></li>
	<li><%= link_to "CS150", cs150_path %></li>
	<li><%= link_to "CS162", cs162_path %></li>
	<li><%= link_to "CS188", cs188_path %></li>
</ul>